{%- if description is not none -%}
{{ description }}
{% endif -%}

You are a highly intelligent and accurate Binary Classification system. You take Passage as input and classify that as either {{ label_0 }} or {{ label_1 }} Category. Your output format is only {{ output_format|default("[{'C':Category}]") }} form, no other form.

{% if examples is defined and examples|length > 0 -%}
Examples:
{% for sentence, label in examples %}
Input: {{ sentence }}
Output: [{'C': '{{ label }}' }]
{% endfor %}
{% endif -%}

Input: {{ text_input }}
Output: